* {
  font-family: Ubuntu, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  background-color: #020230;
  color: white;
}

.main {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("../assets/bg.jpg") center;
  display: flex;
  flex-direction: column;
}

.top {
  height: 50%;
  position: relative;
}
.timer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  bottom: 10px;
  left: 110px;
}
.bottom {
  height: 50%;
}

.pyramid {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyList {
  list-style: none;
  width: 100%;
  padding: 20px;
}

.moneyListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.moneyListItem.active {
  background-color: teal;
}
.moneyListNumber {
  font-size: 18px;
  font-weight: 100;
  width: 30%;
}

.moneyListAmt {
  font-size: 20px;
  font-weight: 500;
}

.gameOverText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@media (max-width: 768px) {
  .main {
    width: 100%;
  }
  .pyramid {
    display: none;
  }
  .bottom {
    animation: slideIn 0.5s ease-out forwards;
  }
  .gameOverText {
    justify-content: flex-start;
    padding-top: 20px;
  }
  .moneyListItem {
    width: 90%;
  }
}
